[submodule "vendor/sdl3"]
	path = vendor/sdl3
	url = https://github.com/libsdl-org/SDL
	branch = release-3.2.x
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/YiRanMushroom/imgui
	branch = docking
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
	branch = master
